target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

test/powershell/results/

docs/source/samples/powershell/test/
docs/source/samples/python/test

docs/build

source/python/client/__pycache__

source/golang/client/src/test
source/golang/client/src/martilq_client*
source/golang/client/src/*.exe